<h2>Aktualności</h2>
  <div class='twshare'>
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="funonrails">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  </div>
<div class="articles">
  <%= render @articles %>
</div>